@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

*{
  margin:0;
  box-sizing: border-box;
}

// * NAVBAR

.nav {
	display: inline-flex;
  flex-direction: row;
	align-items: center;
	height: 70px;
	top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.nav-toggle {
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.logo {
  margin: auto;
  height: 55px;
  margin-left: 50px;
}

.logo:hover {
  height:60px;
  transition-duration: 300ms;
}

.search {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.burger-toggle {
  display: none;
  @media only screen and (max-width: 600px){
    display: inline-flex;
  }
}

.burger-icon {
  color: #E60023;
  margin-left: 70%;
  margin-top: -60px;
}

.side-nav-menu-container {
  width: 200px;
  background-color: white;
  height: 150px;
  position: fixed;
  z-index: 2;
  right: -100%;
  padding: 20px 30px;
  border-radius: 0 0 0 20px;
  margin-top: 200px;
}

.side-nav-menu-container.active {
  right: 0;
  transition: all 0.4s;
}


.auth-burger {
  margin-top: 60px;
}

.li-buttons {
  list-style: none;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

.li-hrefs {
  text-decoration: none;
  color: #E60023;
}

// * NAVBAR SEARCH

.bar {
  display: flex;
  justify-content: center;
  margin: auto;

}

.example{
  padding: 10px 10px 10px 15px;
  font-size: 17px;
  width: 700px;
  background-color: #F9F6EE;
  border-radius: 25px;
  border: none;
  width: 700px;
  margin-top: 20px;
  // margin-top: -90px;
}


@media only screen and (max-width: 1000px) {
  .form.example {
    max-width: 300px;
  }
}

.button {
  display: none;
}

// * NAVBAR BUTTONS

.nav-buttons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  margin-right: 50px;
}

.nav-button-light {
  text-decoration: none;
  font-size: 15px;
  color: #E60023;
  letter-spacing: 1px;
}

.nav-button-light:hover {
  color: #E60023;
}

.nav-button-dark {
  text-decoration: none;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}

.nav-button-dark:hover {
  color: white;
}

.cocktails-button {
  background-color: #E60023;
  margin-right: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.cocktails-button:hover {
  background-color: #C41E3A;
  color: white;
}

.profile-button {
  background-color: #E60023;
  margin-right: 9px;
  margin-left: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.profile-button:hover {
  background-color: #C41E3A;
  color: white;
}

.login-button {
  background-color: #E60023;
  margin-left: 9px;
  margin-right: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.login-button:hover {
  background-color: #C41E3A;
  color: white;
}

.register-button {
  background-color: #F9F6EE;
  margin-left: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.register-button:hover {
  background-color: #EDEADE;
  color: #C41E3A;
}

.logout-button {
  background-color: #F9F6EE;
  margin-left: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.logout-button:hover {
  background-color: #EDEADE;
  color: #C41E3A;
}

// * HOME PAGE

.photo-list-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: 1%;
  pointer-events:none !important;
}

.landing {
  margin: 50px;
}

.landing-title {
  font-size: 60px;
}

.landing-subtitle {
  font-size: 30px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  color: #DBAD4A;
  text-decoration: none;
}

.title-word-5 {
  color: #E4A9A8;
  text-decoration: none;
}

.title-word-6 {
  color: #3D8DAE;
  text-decoration: none;
}

.brand-name {
  margin-left: 15px;
  text-decoration: none;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

// * POPUP

.popup-home {
  // transition: all 0.5s ease;
  transition-duration: 2s;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: all 1s ease;
  transition-duration: 2s;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  display: block;
  justify-content: center;
  max-width: 640px;
}

// .popup-inner .close-btn {
//   position: absolute;
//   top: 16px;
//   right: 16px;
// }

.close-btn-area {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.close {
  position: relative;
  font-size: 20px;
  opacity: 0.5;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.popup-btns-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.popup-card {
  margin-top: 170px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  opacity: 0.95;
}

.card-header {
  margin: 30px;
  background-color: white;
  font-size: 20px;
}

.popup-header {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin: 0 20px 30px 20px;
}

.popup-card-title{
  margin: 20px 20px 40px 20px;
}

.find-here {
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

// * REGISTER PAGE

.login-register-card {
  margin-top: 70px;
}

.card-body{
  margin: auto;
  justify-content: center;
  align-items: center;
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-title {
  margin-top: 20px;
  font-size: 28px;
}

.register-logo {
  height: 80px;
}

.register-subtitle {
  font-size: 17x;
  margin-bottom: 35px;
}

.form-label {
  color: #808080;
  font-size: 14px;
}

.already {
  color: #808080;
}

.red-button {
  background-color: #E60023;
  color: white;
  margin-left: 9px;
  margin-right: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.red-button:hover {
  background-color: #C41E3A;
  color: white;
}

.red-button-dark {
  text-decoration: none;
  font-size: 15px;
  color: white;
  letter-spacing: 1px;
}

.red-button-dark:hover {
  color: white;
}

.white-button {
  background-color: #F9F6EE;
  margin-left: 9px;
  margin-right: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.white-button:hover {
  background-color: #EDEADE;
  color: white;
}

.white-button-light {
  text-decoration: none;
  font-size: 15px;
  color: #E60023;
  letter-spacing: 1px;
}

.white-button-light:hover {
  color: #E60023;
}

.form-control {
  border-radius: 20px;
}

// * COCKTAIL INDEX

.photo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: 1%;
}

.photo {
  width: 200px;
  height: 100%;
  border-radius: 20px;
}

.photo-item {
  list-style-type: none;
  margin-top: 30px;
}


// * LOGIN PAGE

.login-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 28px;
}

// * SHOW COCKTAIL PAGE

.container {
  height: 300px;
}

.card {
  margin: auto;
  max-width: 70%;
  border-radius: 50px;
  margin-top: 20px;
  border: none;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.save-button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.img-fluid {
  padding: 20px;
  border-radius: 50px 50px 50px 50px;
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.card-text {
  font-family: 'Inter', sans-serif;
}

.ingredients {
  display: flex;
  max-width: 100%;
  list-style-type: none;
  margin-left: -20px;
}

.ingredients-title {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.recipe {
  margin-left: 20px;
}

.comments-area {
  justify-content: center;
}

.comments {
  display: flex;
  justify-content: center;
  margin-left: 190px;
}

.comments-title {
  font-size: 25px;
  margin-top: 25px;
}

.arrow {
  height: 20px;
}

.back-button-area{
  display: flex;
  justify-content: left;
  width: 15%;
  margin-top: 25px;
  margin-left: 70px;
}

.back-button {
  display: flex;
  justify-content: left;
  background-color: #F9F6EE;
  margin-left: 9px;
  margin-right: 9px;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.back-button-area {
  @media only screen and (max-width: 1000px){
    margin-left: 10px;
  }
}

.back-button:hover {
  background-color: #EDEADE;
  color: white;
}

.back-button-light {
  text-decoration: none;
  font-size: 15px;
  color: #E60023;
  letter-spacing: 1px;
}

.back-button-light:hover {
  color: #E60023;
}


// * COMMENT FORM

.control1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: 30px;
}
.control2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 20px;
}

.textarea {
  height: 50px;
	line-height: 25px;
	font-size: 16px;
	padding: 5px;
  border-radius: 15px;
  width: 300px;
  border-color: var(--color-1);
  resize: none;
}

.message-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  background-color: #E60023;
  color: white;
  padding: 10px 17px;
  border-radius: 40px;
  border: none;
}

.message-button:hover {
  background-color: #C41E3A;
  color: white;
}

// * USER PROFILE PAGE

.card {
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  margin-top: -43px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
}

.rounded-circle {
    margin-top: 50px;
    height: 90px;
    width: 90px;
    border-radius: 50%
}

.username {
  font-size: 40px;
  margin-top: 20px;
}

.hr-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.hr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  height: 10px;
  color: black;
}

// .created-button-dark {
//   text-decoration: none;
//   font-size: 15px;
//   color: white;
//   letter-spacing: 1px;
// }

// .created-button-dark:hover {
//   color: white;
// }

// .created-button {
//   background-color: #E60023;
//   margin-right: 9px;
//   padding: 10px 17px;
//   border-radius: 40px;
//   border: none;
// }

// .created-button:hover {
//   background-color: #C41E3A;
//   color: white;
// }

// .saved-button {
//   background-color: #F9F6EE;
//   margin-left: 9px;
//   padding: 10px 17px;
//   border-radius: 40px;
//   border: none;
// }

// .saved-button:hover {
//   background-color: #EDEADE;
//   color: #C41E3A;
// }

// .saved-button-light {
//   text-decoration: none;
//   font-size: 15px;
//   color: #E60023;
//   letter-spacing: 1px;
// }

// .saved-button-light:hover {
//   color: #E60023;
// }

.section {
  display: flex;
  justify-content: center;
  margin: auto;
}

.saved-title1 {
  color: black;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 30px;
}


.mask {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.photo-cards {
  margin: auto;
}

.photo-list-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

// * COMMENT CARDS

.right {
  display: flex;
  justify-content: flex-end;
  margin-right: 33px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.senderBubble {
  max-width: 300px;
  text-align: left;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #D8D8D8;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.sender-container {
  justify-content: center;
  align-items: center;
}

.sender {
  padding-left: 10px;
  padding-top: 10px;
  word-break: break-word;
  height: 30px;
	line-height: 25px;
	font-size: 16px;
  border-radius: 15px;
  width: 300px;
  border-color: var(--color-1);
  resize: none;
}

.delete-div {
  text-align: right;
  margin-bottom: 5px;
}

.delete {
  margin-right: 10px;
  margin-bottom: 13px;
  padding-bottom: 10px;
  // padding: 0px 8px 8px 8px;
  position: relative;
  font-size: 20px;
  opacity: 0.5;
  text-decoration: none;
  color: gray;
  cursor: pointer;
}



