*{
  margin:0;
  box-sizing: border-box;
}

.nav {
	display: inline-flex;
  flex-direction: row;
	align-items: center;
	height: 70px;
	top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}


.logo {
  margin: auto;
  height: 55px;
  margin-left: 50px;
}

.nav-buttons {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex: 2;
  margin-right: 50px;
}

.nav-button-login {
  text-decoration: none;
  font-size: 14px;
  color: white;
  letter-spacing: 1px;
}

.nav-button-register {
  text-decoration: none;
  font-size: 14px;
  color: #C41E3A;
  letter-spacing: 1px;
}

.login-button-side {
  background-color: #E60023;
  margin-left: 10px;
  padding: 12px;
  border-radius: 20px;
  border: none;
}

.login-button-side:hover {
  background-color: #C41E3A;
  color: white;
}

.register-button-side {
  background-color: #F9F6EE;
  margin-left: 15px;
  padding: 12px;
  border-radius: 20px;
  border: none;
}

.register-button-side:hover {
  background-color: #EDEADE;
  color: #C41E3A;
}



.nav-toggle {
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.photo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-left: 5%;
}

.photo {
  width: 200px;
  height: 100%;
  border-radius: 20px;
}

.photo-item {
  list-style-type: none;
}

.container {
  height: 300px;
}
